<%- include('header.ejs') %>


  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">The Thought Lab.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">It’s the little things in life that make the biggest impact. But sometimes, it’s hard to know where to start. But you can start today with blogging.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/write-blog-post" class="btn btn-primary btn-lg px-4 gap-3">Write</a>
        <a href="/all-blogs" class="btn btn-outline-secondary btn-lg px-4">View all</a>

      </div>
    </div>
  </div>


  
<div class="button-wrapper">
</div>
</article>
  
  

 <div id="Projects">
  <h2 id="headerpro"> Featured Blogs: </h2>
  
  
  <article id="project1">
       <a href = "#" > <h2>GPG Data Ingestion Solution</h2></a>
            <p><strong>Description</strong>: Developed a solution to seamlessly ingest data from GPG encrypted Zip files and facilitate data storage and retrieval.</p>
          <p><strong>Role</strong>: Developer</p>
<p><strong>Language</strong>:  Python</p>
<p>	<strong>Tools Used</strong>: AWS S3,EC2,Lambda
</p>

<a href="/view-all" class = "btn btn-success">View</a>

          
  </article>
  
        
  <article id="project2">
    <a href = "#" >     <h2>IoT Based Home Security Status Monitoring System Using Blynk</h2></a>
    <p><strong>Description</strong>: This system works by monitoring the activity of the main door or windows as soon as the system detects that the door is opened or being tampered with, the user instantly gets a notification on his/her phone through the Blynk App notifying that the door has been opened so that we can act very swiftly to the situation.</p>
    <p><strong>Role</strong>: Team Leader</p>
    <p><strong>Language</strong>:  C Language</p>
<p><strong>Tools Used</strong>: Arduino IDE, Blynk IoT, Node MCU Board
 </p>
 <a href="/view-all" class = "btn btn-success">View</a>
 
          
  </article>       
    
  
 <article id="project3">
  <a href = "/get-blog" >      <h2>Triple Band Dual Ring Antenna for Wearable Applications</h2></a>
            <p>	
<p><strong>Description</strong>: In this project our main aim is to design a Triple-band open-ring high-gain high-efficiency antenna for 2.45/3.0/3.45 GHz wearable applications. The proposed antenna operates at 2.45 GHz for Industrial Specific, and Medical (ISM) applications, 3.0 GHz for military applications, and 3.45 GHz for Worldwide Interoperability for Microwave Access (WiMAX) applications.</p>
   <p><strong>Role</strong>: Team Leader</p>
   <p><strong>Tools Used</strong>: Ansys HFSS</p>

<a href="/view-all" class = "btn btn-success">View</a>

 
          
  </article>       
 
  </div>
    
  </body>
</html>


<%- include('footer.ejs') %>