<%- include('header.ejs') %>

  <div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Welcome to Thought Lab : Where Ideas Take Flight and Inspiration is Shared!</h1>
      <p class="lead">
        Join me on my journey as I explore a myriad of topics, from everyday musings to groundbreaking concepts. This
        blog serves as my digital canvas, where each post is a window into my world of ideas, designed to spark
        curiosity and ignite conversations. Whether you're here for inspiration, insight, or just a fresh perspective, I
        hope you find something that resonates with you. Happy Reading!
      </p>
    </div>
  </div>


  <%- include('footer.ejs') %>