<%- include('header.ejs') %>

    <div id="Projects">
        <article id="project1">

            
            <h1>
                <%= data.title %>
            </h1>

            <p>
                <%= data.body %>
            </p>



        </article>
    </div>

    <%- include('footer.ejs') %>