<%- include('header.ejs') %>

  <div class="container">

    <form action="/submit-blog" method="post">
      <div class="mb-3">
        <label for="blogTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="blogTitle" name="title" required>
      </div>
      <div class="mb-3">
        <label for="blogDescription" class="form-label">Description</label>
        <textarea class="form-control" id="blogDescription" name="description" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-100">Submit Post</button>

      <a href="/" class="btn btn-primary mb-100">Cancel</a>


  </div>




  <%- include('footer.ejs') %>